<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Simple CRUD Nodejs
  body
    include partials/navbar.pug
    #container
      #wrap
        table
          tr.header
            td.no No
            td NIM
            td Nama
            td Email
            td Fakultas
            td Action
          - datas.map( (data, index) => {
            tr
              td.no #{index + 1}
              td #{data.nim}
              td #{data.nama}
              td #{data.email}
              td #{data.fakultas}
              td.action-tab
                a(href='/' + data.nim class="action edit") Edit
                a(href='/' + data.nim class="action delete") Delete
          - })